* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Secular One", sans-serif;
  background: #12171d;
  color: #fff;
  font-size: 16px;
}
.brand-logo h1 {
  color: #97b1a5;
  font-size: 50px;
  vertical-align: middle;
  text-align: center;
  font-family: "Leckerli one";
}
h1,
h3 {
  color: #97b1a5;
}
h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
}
nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

nav .nav-links {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.nav-links .active {
  border-bottom: 5px solid #97b1a5;
}
nav ul {
  width: 100%;
}
nav ul li {
  display: inline-block;
  margin: 5px 20px;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}
nav .right {
  margin: auto auto;
  align-items: center;
}
.right a {
  float: right;
}
.name-large {
  font-size: 50px;
  line-height: 1em;
}
.matter {
  margin-left: 10em;
  margin-right: 10em;
  min-height: 100%;
  margin-bottom: -40px;
}
.matter:after {
  content: "";
  display: block;
}
footer,
.matter:after {
  height: 40px;
}

.large-text {
  padding: 0.5em 3em;
  width: 100%;
  margin: auto auto;
}
.large-text #about {
  text-align: center;
  padding: 5px 30px;
}
.right.arrow-area {
  position: absolute;
  right: 10%;
  top: 0;
  bottom: 0;
  display: block;
}
.arrow-circle {
  width: 70px;
  height: 70px;
  color: #97b1a5;
  font-size: 4vw;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 50%;
  animation: blink 0.5s infinite;
}
@keyframes blink {
  0% {
    color: #97b1a5;
  }
  100% {
    color: #eedcba;
  }
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bottom > * {
  margin: 0 auto;
}
.bottom > * ul {
  display: grid;
}
.bottom #skills ul {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5em;
}
.bottom #contact ul {
  grid-template-columns: 6em 2em 10em;
}
.v-line {
  width: 2px;
  height: 7em;
  background: #fff;
  border-radius: 1px;
}

.btn {
  background: inherit;
  padding: 0.5em 1em;
  font-family: inherit;
  cursor: pointer;
  color: #97b1a5;
  outline: none;
}

.btn:hover {
  border: 2px solid #eedcba;
  color: #eedcba;
}
.btn-primary {
  border: 2px solid #97b1a5;
  width: 9em;
}
.works {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-gap: 1em;
  padding: 0 3em;
}
.left-arrow,
.right-arrow {
  position: relative;
}
.btn-arrow {
  border: none;
}
.btn-arrow:focus {
  border: none;
}
.arrow i {
  text-align: center;
}
/* Loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
/* Loader style ends */
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.works .work {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 3em;
  padding: 0.5em 3em;
  margin-top: 5vh;
}

.work img {
  width: 100%;
  height: 100%;
}

.btn-group {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}
.btn-in {
  display: inline-block;
  margin: 0.5em;
}
.not-available {
  display: none;
}
footer {
  margin-top: 7em;
}

footer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 100%;
}
footer ul {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  line-height: 100%;
}
footer ul li {
  display: inline-block;
}
footer i {
  color: #fff;
  margin: 5px;
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px;
    max-height: 100vh;
    overflow: hidden;
  }
  h3 {
    font-size: 20px;
  }
  #contact .set.address {
    font-size: 1.3vw;
  }
  .works .btn-arrow {
    position: absolute;
    top: 40%;
    font-size: 25px;
  }
  .work .desc .project-name {
    font-size: 25px;
  }
  .work .desc {
    font-size: 19px;
    vertical-align: middle;
  }
  .mobile-works {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
    padding: 0 2em;
  }
  nav.main-nav {
    grid-template-columns: 40% 20% 40%;
  }
  nav ul,
  /* .worksPage header,
  .worksPage footer, */
  .right.arrow-area {
    display: none;
  }
  .matter,
  .worksPage {
    margin: 0.5em auto;
  }
  .name-large {
    font-size: 35px;
  }
  .large-text {
    width: 100%;
    padding: 0;
  }
  .bottom {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .bottom > * {
    width: 90%;
    padding: 1vw;
  }
  .worksPage .matter .works {
    display: none;
  }
  .not-available {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.5em;
  }
  .mobile-works {
    margin-top: 50px;
  }

  .works .work {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .btn-primary {
    border: 2px solid #97b1a5;
    font-size: 14px !important;
    padding: 0.2em;
    width: 8em;
  }
  .btn-group > * {
    margin: 0.2em;
  }
  .mobile-works h3 {
    font-size: 23px;
    text-align: center;
  }

  .mobile-works img {
    display: block;
    width: auto;
    height: 300px;
    margin: auto;
  }
  .mobile-works .worksPage {
    margin: auto auto;
  }
  .dir-btn {
    position: relative;
  }
  .dir-btn button {
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    margin: auto;
    height: 40px;
    font-size: 25px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 500px) {
  body {
    padding: 0 1em;
    font-size: 14px;
  }

  .matter,
  .worksPage {
    margin: 0.3em auto;
  }

  .bottom {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .bottom #contact ul {
    grid-template-columns: 30% 5% 55%;
  }

  .works {
    grid-gap: 0;
    padding: 0;
  }

  .btn-group .btn-in {
    display: block;
  }
  .btn-in .btn {
    width: 8em;
    height: 2em;
  }
  .mobile-works h3 {
    font-size: 23px;
    text-align: center;
  }
  .mobile-works img {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .mobile-works button {
    display: block;
    width: 100%;
    padding: 0;
  }
  .mobile-works .worksPage {
    margin: auto auto;
  }
  .dir-btn {
    position: relative;
  }
  .dir-btn button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 25px;
  }
}
