* {
  box-sizing: inherit;
}
html {
  height: 100%;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Secular One", sans-serif;
  background: #12171d;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}
.brand-logo h1 {
  color: #97b1a5;
  font-size: 5rem;
  vertical-align: middle;
  text-align: center;
  font-family: "Leckerli one";
}
h1,
h3 {
  color: #97b1a5;
}
h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
}
nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

nav .nav-links {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.nav-links .active {
  border-bottom: 0.5rem solid #97b1a5;
}
nav ul {
  width: 100%;
}
nav ul li {
  display: inline-block;
  margin: 0.5rem 2rem;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}
nav .right {
  margin: auto auto;
  align-items: center;
}
.right a {
  float: right;
}
.name-large {
  font-size: 5rem;
  line-height: 1rem;
}
.matter {
  margin-left: 10em;
  margin-right: 10em;
  min-height: 100%;
  margin-bottom: -4rem;
}
.matter:after {
  content: "";
  display: block;
}
/* .image {
  width: 100%;
  height: 40rem;
  object-fit: cover;
} */
footer,
.matter:after {
  height: 4rem;
}

.large-text {
  padding: 0.5rem 3rem;
  width: 100%;
  margin: auto auto;
}
.large-text #about {
  text-align: center;
  padding: 0.5rem 3rem;
}
.right.arrow-area {
  position: absolute;
  right: 10%;
  top: 0;
  bottom: 0;
  display: block;
}
.btn-to-works {
  margin-top: 1rem;
  animation: blink 7s infinite;
}
@keyframes blink {
  0% {
    border: 1px solid #97b1a5;
  }
  100% {
    border: 1px solid #eedcba;
  }
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bottom > * {
  margin-right: auto;
  margin-left: 2vw;
}

.bottom > * ul {
  display: grid;
}
.bottom #skills ul {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
}
.bottom #contact ul {
  grid-template-columns: 6em 2em 10em;
}
.v-line {
  width: 2px;
  height: 7rem;
  background: #fff;
  border-radius: 1px;
}

.btn {
  background: inherit;
  padding: 0.5rem 1rem;
  font-family: inherit;
  cursor: pointer;
  color: #97b1a5;
  outline: none;
}

.btn:hover {
  border: 2px solid #eedcba;
  color: #eedcba;
}
.btn-primary {
  border: 2px solid #97b1a5;
}
.works {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 3rem;
}
.works > * {
  margin: 0 3rem;
}

.btn-arrow,
.btn-arrow:hover {
  border: none;
}
.btn-arrow:focus {
  border: none;
}
.arrow i {
  text-align: center;
}

.works .work {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 3rem;
  margin-top: 5vh;
  align-items: center;
}
.work > * {
  margin: 2rem;
}

.work img {
  width: 100%;
  object-fit: cover;
}

.btn-group {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}
.btn-in {
  display: inline-block;
  margin: 0.5rem;
}
.dir-btn button {
  font-size: 2.5rem;
}
.not-available {
  display: none;
}
footer {
  margin-top: 7rem;
}

footer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 100%;
}
footer ul {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  line-height: 100%;
}
footer ul li {
  display: inline-block;
}
footer i {
  color: #fff;
  margin: 0.5rem;
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }
  h3 {
    font-size: 2rem;
  }
  #contact .set.address {
    font-size: 1.3vw;
  }
  .works .dir-btn {
    align-self: flex-start;
    margin-top: 15%;
  }
  .work img {
    width: 35rem;
    height: 40rem;
    object-fit: cover;
  }

  .work .desc .project-name {
    font-size: 2.5rem;
  }
  .work .desc {
    font-size: 19px;
    vertical-align: middle;
  }
  .mobile-works {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
    padding: 0 2em;
  }
  nav.main-nav {
    grid-template-columns: 40% 20% 40%;
  }
  nav ul,
  .right.arrow-area {
    display: none;
  }
  .matter {
    margin: 1rem auto;
  }
  .name-large {
    font-size: 3.5rem;
  }
  .large-text {
    width: 100%;
    padding: 0;
  }
  .bottom {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .bottom > * {
    width: 90%;
    padding: 1vw;
  }
  .worksPage .matter .works {
    display: none;
  }
  .not-available {
    display: block;

    text-align: center;
    font-size: 1.5rem;
  }
  .mobile-works {
    margin-top: 5rem;
  }
  .works > * {
    margin: 0 1rem;
  }

  .works .work {
    flex-direction: column;
  }
  .btn-primary {
    border: 2px solid #97b1a5;
    font-size: 14px !important;
    padding: 0.2em;
    width: 8em;
  }
  .btn-group > * {
    margin: 0.2em;
  }
  .mobile-works h3 {
    font-size: 23px;
    text-align: center;
  }

  .mobile-works img {
    display: block;
    width: auto;
    height: 30rem;
    margin: auto;
    object-fit: cover;
  }
  .mobile-works .worksPage {
    margin: auto auto;
  }
  .dir-btn {
    align-self: baseline;
    margin-top: 35%;
  }
  .dir-btn button {
    margin: auto;
    height: 4rem;
  }
}

@media only screen and (max-width: 500px) {
  body {
    padding: 0 1rem;
    font-size: 14px;
  }

  .matter,
  .worksPage {
    margin: 0.3rem auto;
  }

  .bottom {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .bottom > * {
    margin: 0 auto;
  }
  .bottom #contact ul {
    grid-template-columns: 30% 5% 55%;
  }

  .works {
    padding: 0;
  }

  .btn-group .btn-in {
    display: block;
  }
  .btn-in .btn {
    width: 8em;
    height: 2em;
  }
  .mobile-works h3 {
    font-size: 23px;
    text-align: center;
  }
  .mobile-works img {
    display: inline-block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .mobile-works button {
    display: block;
    width: 100%;
    padding: 0;
  }
  .mobile-works .worksPage {
    margin: auto auto;
  }
  .mobile-works .not-available {
    display: none;
  }

  .dir-btn button {
    margin: auto;
  }
}
