* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Secular One", sans-serif;
  background: #12171d;
  color: #fff;
  font-size: 16px;
}
.brand-logo h1 {
  color: #97b1a5;
  font-size: 50px;
  vertical-align: middle;
  text-align: center;
  font-family: "Leckerli one";
}
h1,
h3 {
  color: #97b1a5;
}
h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
}
nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

nav .nav-links {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.nav-links .active {
  border-bottom: 5px solid #97b1a5;
}
nav ul {
  width: 100%;
}
nav ul li {
  display: inline-block;
  margin: 5px 20px;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}
nav .right {
  margin: auto auto;
  align-items: center;
}
.right a {
  float: right;
}
.name-large {
  font-size: 5vw;
  line-height: 1em;
}
.matter {
  margin: 1em 10em;
}

.large-text {
  padding: 0.5em 5em;
  width: 85%;
  margin: auto auto;
}
.large-text #about {
  text-align: center;
  padding: 5px 30px;
}
.right.arrow-area {
  position: absolute;
  right: 10%;
  top: 0;
  bottom: 0;
  display: block;
}
.arrow-circle {
  width: 70px;
  height: 70px;
  color: #97b1a5;
  font-size: 4vw;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 50%;
  animation: blink 0.5s infinite;
}
@keyframes blink {
  0% {
    color: #97b1a5;
  }
  100% {
    color: #eedcba;
  }
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bottom > * {
  margin: 0 auto;
}
.bottom > * ul {
  display: grid;
}
.bottom #skills ul {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5em;
}
.bottom #contact ul {
  grid-template-columns: 6em 2em 10em;
}
.v-line {
  width: 2px;
  height: 7em;
  background: #fff;
  border-radius: 1px;
}

.btn {
  background: inherit;
  padding: 0.5em 1em;
  font-family: inherit;
  cursor: pointer;
  color: #97b1a5;
  outline: none;
}

.btn:hover {
  border: 2px solid #eedcba;
  color: #eedcba;
}
.btn-primary {
  border: 2px solid #97b1a5;
  width: 9em;
}
.works {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-gap: 1em;
  padding: 0 3em;
}
.left-arrow,
.right-arrow {
  position: relative;
}
.btn-arrow {
  border: none;
}
.btn-arrow:focus {
  border: none;
}
.arrow i {
  text-align: center;
}

.works .work {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 3em;
  padding: 0.5em 3em;
  margin-top: 5vh;
}

.work img {
  width: 100%;
  height: 100%;
}

.btn-group {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}
.btn-in {
  display: inline-block;
  margin: 0.5em;
}


footer {
  position: absolute;
  bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 100%;
}
footer ul {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
footer ul li {
  display: inline-block;
}
footer i {
  color: #fff;
  margin: 5px;
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1vw;
    max-height: 100vh;
    overflow: hidden;
  }
  h3 {
    font-size: 1.5vw;
  }
  #contact .set.address {
    font-size: 1.3vw;
  }
  .works .btn-arrow {
    position: absolute;
    top: 40%;
    font-size: 1.5vw;
  }
  .work .desc .project-name {
    font-size: 2vw;
  }
  .work .desc {
    font-size: 1.2vw;
    vertical-align: middle;
  }
  .mobile-works{
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  body {
    padding: 0 2em;
  }
  nav.main-nav{
    grid-template-columns: 40% 20% 40%;
  }
  nav ul,
  .worksPage header,
  .worksPage footer,
  .right.arrow-area {
    display: none;
  }
  .matter, .worksPage {
    margin: 0.5em auto;
  }
  .name-large {
    font-size: 35px;
  }
  .large-text {
    width: 100%;
    padding: 0;
  }
  .bottom {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
   
  }
  .bottom > * {
    width: 90%;
    padding: 1vw;
  }
  .mobile-works{
    margin-top: 50px;
  }
  
  .works .work {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .btn-primary {
    border: 2px solid #97b1a5;
    font-size: 14px !important;
    padding: 0.2em;
    width: 8em;
  }
  .btn-group > * {
    margin: 0.2em;
  }
  .mobile-works h3{
    font-size: 23px;
    text-align: center;
  }
  .mobile-works img{
    width: 350px;
    height: auto;
    margin: auto;
  }
  .mobile-works .worksPage{
    margin: auto auto;
  }
  .dir-btn{
    position: relative;
    
  }
  .dir-btn button{
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    margin: auto;
    height: 40px;
    font-size: 25px;
  }
  footer {
    position: static;
    margin-top: 2em;
  }
}
@media only screen and (max-width: 425px){
  body {
    padding: 0 1em;
    font-size: 14px;
  }
  
  .matter, .worksPage {
    margin: 0.3em auto;
  }
  
  
  .bottom {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
   
  }
  .bottom #contact ul{
    grid-template-columns: 30% 5% 55%;
  }
  
  
  .works {
    grid-gap: 0;
    padding:0;
  }
  
  .btn-group .btn-in {
    display: block;
  }
  .btn-in .btn {
    width: 8em;
    height: 2em;
  }
  .mobile-works h3{
    font-size: 23px;
    text-align: center;
  }
  .mobile-works img{
    width: 100%;
    height: auto;
    
  }
  .mobile-works button{
    display: block;
    width: 100%;
    padding: 0;
  }
  .mobile-works .worksPage{
    margin: auto auto;
  }
  .dir-btn{
    position: relative;
    
  }
  .dir-btn button{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 25px;
  }
}
