.brand-logo h1 {
  color: #97b1a5;
  font-size: 5rem;
  vertical-align: middle;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
