* {
  box-sizing: inherit;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Comfortaa", sans-serif;
  background: #12171d;
  color: #fff;
  font-size: 1.6rem;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
header,
main,
footer {
  padding: 5vw;
  @media only screen and (min-width: 1024px) {
    padding: 6rem 15rem;
  }
  margin: 0 auto;
}
h1,
h3 {
  color: #97b1a5;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

.greeting {
  font-size: clamp(2.5rem, 5vw, 5rem);
  span {
    display: block;
    font-weight: 400;
    @media only screen and (min-width: 1280px) {
      display: inline;
    }
  }
}

.large-text {
  padding: 0.5rem 3rem;
  width: 100%;
  margin: auto auto;
}

.section {
  margin-bottom: 10rem;
  &--hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5rem;
    .hero__about {
      font-weight: 700;
      width: 100%;
    }
    .description {
      font-size: 2rem;
      margin: 3rem 0;
    }
    .hero__image {
      max-width: fit-content;
      img {
        width: 100%;
      }
    }
    @media only screen and (min-width: 1024px) {
      align-items: center;
      flex-direction: row;
      .hero__about {
        max-width: 800px;
        margin-right: 5rem;
      }
    }
  }
}

#contact > div {
  display: flex;
  flex-direction: column-reverse;
  & > * {
    margin-right: 2rem;
  }
  li {
    margin-bottom: 1rem;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.bottom {
  display: flex;
  flex-wrap: wrap;
}

.v-line {
  width: 2px !important;
  background: #fff;
  border-radius: 1px;
}

.btn {
  background: inherit;
  padding: 0.5rem 1rem;
  font-family: inherit;
  cursor: pointer;
  color: #97b1a5;
  outline: none;
  &:hover {
    border: 2px solid #eedcba;
    color: #eedcba;
  }
  &-primary {
    border: 2px solid #97b1a5;
  }
  &-arrow {
    &:hover {
      border: none;
    }
    &:focus {
      border: none;
    }
  }
  &-group {
    display: flex;
    align-items: center;
    & > *:not(:first-child) {
      margin: 1rem;
    }
  }
}

.works {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  & > * {
    margin: 0 1.5rem;
  }
}

.arrow i {
  text-align: center;
}

.dir-btn button {
  font-size: 2.5rem;
}
.not-available {
  display: none;
}

@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 2rem;
  }
  #contact .set.address {
    font-size: 2rem;
  }
  #contact i {
    display: inline;
  }
  .works .dir-btn {
    align-self: flex-start;
    margin-top: 15%;
  }
}
