.work {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
  }
  &__name {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  &__description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    &__description-container {
      margin-left: 2rem;
      height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .__description {
      font-size: 2rem;
      vertical-align: middle;
    }
  }
}
